pipeline/webactivity.json
{
	"name": "webactivity",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "\thttps://dummy.restapiexample.com/api/v1/employees",
					"method": "GET",
					"body": {
						"name": "test",
						"salary": "123",
						"age": "23"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web1').output.data",
						"type": "Expression"
					},
					"condition": {
						"value": "@less(item().employee_age,30)",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}